<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h6>Contents</h6>
        <p><a href="#">Process Description</a></p>
        <p><a href="#">Process Flowsheet</a></p>
        <p><a href="#">Operating Conditions</a></p>
        <p><a href="#">Analysis and Discussion</a></p>
        <p><a href="#">References</a></p>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p id="footer"><small>Author: Rajdeep Dev <br> Student ID: 71666887</small></p>
      </footer>
    </div>
  </body>
</html>
